/* CSS definition file containing sitestyle stylesheets */
body {
    background-image: url("images/bg.png");

    margin: 16px 10px;
}

td a img {
    margin-bottom: -4px;
}

* {
    box-sizing: border-box;
}

#building {
    border: solid 2px black;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style: none;

    border: outset 2px gray;
}

#navbar a {
    color: transparent;
    display: block;
    height: 26px;
    width: 132px;

    background-repeat: no-repeat;
    border: inset 1px gray;

    background-image: url(/images/menu/sprite.png);
}

#link-home { background-position: 0 0; }
#link-home:hover { background-position: -260px 0; }
#link-home.active { background-position: -130px 0; }

#link-granite { background-position: 0 -24px; }
#link-granite:hover { background-position: -260px -24px; }
#link-granite.active { background-position: -130px -24px; }

#link-bronze { background-position: 0 -48px; }
#link-bronze:hover { background-position: -260px -48px; }
#link-bronze.active { background-position: -130px -48px; }

#link-single-bronze { background-position: 0 -72px; }
#link-single-bronze:hover { background-position: -260px -72px; }
#link-single-bronze.active { background-position: -130px -72px; }

#link-double-bronze { background-position: 0 -96px; }
#link-double-bronze:hover { background-position: -260px -96px; }
#link-double-bronze.active { background-position: -130px -96px; }

#link-statuary { background-position: 0 -120px; }
#link-statuary:hover { background-position: -260px -120px; }
#link-statuary.active { background-position: -130px -120px; }

#link-landscape { background-position: 0 -144px; }
#link-landscape:hover { background-position: -260px -144px; }
#link-landscape.active { background-position: -130px -144px; }

#link-signs { background-position: 0 -168px; }
#link-signs:hover { background-position: -260px -168px; }
#link-signs.active { background-position: -130px -168px; }

#link-contact { background-position: 0 -192px; }
#link-contact:hover { background-position: -260px -192px; }
#link-contact.active { background-position: -130px -192px; }

#link-links { background-position: 0 -216px; }
#link-links:hover { background-position: -260px -216px; }
#link-links.active { background-position: -130px -216px; }



body {
    margin: 44px 10px 16px;
    width: 827px;
}
#site-header {
    margin-left: 160px;
}
#page-header h1 {
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 1em;
}
nav {
    float: left;
}
main {
    margin-left: 156px;
    font-family: Papyrus, Calibri, sans-serif;
}

.site-footer {
    margin-top: 150px;
    margin-left: 156px;
}
.site-footer ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 90%;
}
.site-footer li {
    display: inline-block;
}
.site-footer li::before {
    content: '[';
}
.site-footer li::after {
    content: ']';
}
.site-footer .active {
    color: inherit;
    text-decoration: none;
}

.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.gallery figure {
    margin: 0;
}

.gallery li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.gallery figure {
    display: inline-block;
}

.gallery-entry {
    text-align: center;
}

.gallery-entry img {
    border: 18px solid;
    border-image: url(../images/frame.png) 18 repeat;
    box-shadow: 2px 2px 4px #444;
}

.gallery-entry figcaption {
    font-family: Papyrus, cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}


.gallery-buttons {
    width: 200px;
    display: table;
    margin: 0 auto 1.75em;
    text-align: center;
}
.gallery-buttons a {
    display: table-cell;
}


.giant-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.giant-list li {
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}


.two-col > * {
    width: 49%;
    display: inline-block;
}
.two-col::after {
    content: '';
    clear: both;
}

.border {
    border: solid 2px black;
}

figure {
    margin: 0;
}
