/* CSS definition file containing sitestyle stylesheets */
body {
    background-image: url("images/Gray1_copy.gif");

    margin: 16px 10px;
}

td a img {
    margin-bottom: -4px;
}

* {
    box-sizing: border-box;
}

#building {
    border: solid 2px black;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style: none;

    border: outset 2px gray;
}

#navbar a {
    color: transparent;
    display: block;
    height: 26px;
    width: 132px;

    background-repeat: no-repeat;
    border: inset 1px gray;
}

#link-home { background-image: url("/images/menu/home_base.gif"); }
#link-home:hover { background-image: url("/images/menu/home_hover.gif"); }
#link-home.active { background-image: url("/images/menu/home_active.gif"); }

#link-granite { background-image: url("/images/menu/granite_base.gif"); }
#link-granite:hover { background-image: url("/images/menu/granite_hover.gif"); }
#link-granite.active { background-image: url("/images/menu/granite_active.gif"); }

#link-bronze { background-image: url("/images/menu/bronze_base.gif"); }
#link-bronze:hover { background-image: url("/images/menu/bronze_hover.gif"); }
#link-bronze.active { background-image: url("/images/menu/bronze_active.gif"); }

#link-single-bronze { background-image: url("/images/menu/single_bronze_base.gif"); }
#link-single-bronze:hover { background-image: url("/images/menu/single_bronze_hover.gif"); }
#link-single-bronze.active { background-image: url("/images/menu/single_bronze_active.gif"); }

#link-double-bronze { background-image: url("/images/menu/double_bronze_base.gif"); }
#link-double-bronze:hover { background-image: url("/images/menu/double_bronze_hover.gif"); }
#link-double-bronze.active { background-image: url("/images/menu/double_bronze_active.gif"); }

#link-statuary { background-image: url("/images/menu/statuary_base.gif"); }
#link-statuary:hover { background-image: url("/images/menu/statuary_hover.gif"); }
#link-statuary.active { background-image: url("/images/menu/statuary_active.gif"); }

#link-landscape { background-image: url("/images/menu/landscape_base.gif"); }
#link-landscape:hover { background-image: url("/images/menu/landscape_hover.gif"); }
#link-landscape.active { background-image: url("/images/menu/landscape_active.gif"); }

#link-signs { background-image: url("/images/menu/signs_base.gif"); }
#link-signs:hover { background-image: url("/images/menu/signs_hover.gif"); }
#link-signs.active { background-image: url("/images/menu/signs_active.gif"); }

#link-contact { background-image: url("/images/menu/contact_base.gif"); }
#link-contact:hover { background-image: url("/images/menu/contact_hover.gif"); }
#link-contact.active { background-image: url("/images/menu/contact_active.gif"); }

#link-links { background-image: url("/images/menu/links_base.gif"); }
#link-links:hover { background-image: url("/images/menu/links_hover.gif"); }
#link-links.active { background-image: url("/images/menu/links_active.gif"); }
