body { 
	background: url("images/Gray1_copy.gif");
	width: 860px;
	margin-top: 45px;
}

/* Header 
 *
 */

/* Navigation */
.navigation {
	float: left;
	margin-top: 300px;
}
.navigation ul {
	margin: 0;
	padding: 0;
}
.navigation li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 130px;
	height: 24px;
}
.navigation a {
	color: transparent;
}

.home 			{background: url("buttons/home.gif")}
.home:hover     {background: url("buttons/home-hover.gif");}
.granite 		{background: url("buttons/granite.gif")}
.granite:hover 	{background: url("buttons/granite-hover.gif")}
.bronze 		{background: url("buttons/bronze.gif")}
.bronze:hover 	{background: url("buttons/bronze-hover.gif")}
.single-bronze 	{background: url("buttons/single-bronze.gif")}
.single-bronze:hover {background: url("buttons/single-bronze-hover.gif")}
.double-bronze 	{background: url("buttons/double-bronze.gif")}
.double-bronze:hover {background: url("buttons/double-bronze-hover.gif")}
.statuary 		{background: url("buttons/statuary.gif")}
.statuary:hover {background: url("buttons/statuary-hover.gif")}
.landscape 		{background: url("buttons/landscape.gif")}
.landscape:hover {background: url("buttons/landscape-hover.gif")}
.signs 			{background: url("buttons/signs.gif")}
.signs:hover 	{background: url("buttons/signs-hover.gif")}
.contact 		{background: url("buttons/contact.gif")}
.contact:hover 	{background: url("buttons/contact-hover.gif")}
.links 			{background: url("buttons/links.gif")}
.links:hover 	{background: url("buttons/links-hover.gif")}
.home:active, 	.home.active				{background: url("buttons/home-active.gif")}
.granite:active,.granite.active 			{background: url("buttons/granite-active.gif")}
.bronze:active, .bronze.active 				{background: url("buttons/bronze-active.gif")}
.single-bronze:active, .single-bronze.active {background: url("buttons/single-bronze-active.gif")}
.double-bronze:active, .double-bronze.active {background: url("buttons/double-bronze-active.gif")}
.statuary:active, .statuary.active 			{background: url("buttons/statuary-active.gif")}
.landscape:active, .landscape.active 		{background: url("buttons/landscape-active.gif")}
.signs:active, .signs.active 				{background: url("buttons/signs-active.gif")}
.contact:active, .contact.active 			{background: url("buttons/contact-active.gif")}
.links:active, .links.active 				{background: url("buttons/links-active.gif")}

/* Footer
 *
 */
.footer {text-align: center;}
.footer li {display: inline;}
.footer li:before {content: "["}
.footer li:after {content: "]"}

/* Content
 *
 */

.content {}
.contact-us {
	text-align: center;
}
.contact-us li { list-style-type: none; }
.header img {border: 2px solid black;}
.header {
	margin-left: 160px;
}
.caption {
	width: 200px;
}